<div class="container">

  <!-- Personal Info Section -->
  <div class="row home">
    <div class="home-title">
      <h3>About Me</h3>
    </div>
  </div>
	
  <div class="row home">
    <div class="six columns home-about">
	    <img src = "yeni_logo.png" width = 132 height = 123>
	    <p>I am an Electronics and Communication Engineering student at Yıldız Technical University. I plan to build my career on autonomous systems and artificial intelligence. Accordingly, there are a lot of things that I need to learn. In my spare time I like to hang out with my friends and explore the world by traveling. Exploring the planet with my backpack is my best hobby. I also love to play basketball and follow the NBA and Euroleague. 
	    </p>
	  </div>
	  
   <!-- Embedded Instagram Post  -->
    <div class="six columns">
	    	<img src = "main.png" width = 360 height = 369 style="margin:-75px 0px>
  </div>

  <!-- <hr> -->

  <!-- Software Development Section -->

<div class="row home">
	<div class="home-title">
	<h3>&nbsp &nbsp Software Development </h3>
    </div>
  </div>

  <div class="row home">
    <div class="six columns">
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
        <object data="Ros_logo.svg"width=132 height =123 style="margin:-25px 0px"></object>
	<p>During my life at the university, I developed programs with C and C ++. I worked on image processing with Python. I also worked on various search algorithms with Python. I made simple signal processing on various communication systems with MATLAB. I was interested in Arduino open source 3D printer software. In technology competitions, I made autonomous flight trials on Rasberry Pi and flight control card Pixhawk. I am currently working on positioning with lidar and recognizing YOLO and traffic signs. I continue my development in C ++ to become a self driving car engineer.</p>
    </div>
    <div class="six columns">
      <h5>Software and Web Languages:</h5>
      <ul>
        <li>C</li>
        <li>OOP in C++</li>
	<li>MATLAB</li>
        <li>Arduino</li>
        <li>Makefile</li>
	<li>HTML</li>
	<li>Wordpress</li>
	<li>Markdown</li>
      </ul>
      <h5>Robotic and AI Technology:</h5>
      <dl>
          <li><a href="https://www.ros.org/" target="_blank">Robotic Operation System</a></li>
	  <li><a href="https://ardupilot.org/" target="_blank">Ardupilot</a>, <a href="https://pixhawk.org/" target="_blank">Pixhawk</a></li>
	  <li><a href="https://pointcloudlibrary.github.io/" target="_blank">Lidar Perception</a></li>
	  <li><a href="https://pjreddie.com/darknet/yolo/" target="_blank">YOLO Object Detection</a></li>
	      
      </dl>
      </ul>
    </div>
  </div>

  <!-- <hr> -->

  <!-- Electronic Section -->
  <div class="row home">
    <div class="home-title">
       <h3>Electronics and Communication Technology</h3>
    </div>
  </div>

  <div class="row home">
    <div class="six columns">
	<span style="font-size: 0.75em; color: Green;">  
      <i class="fas fa-satellite-dish"></i>
	</span>
	 <span style="font-size: 0.75em; color: Dodgerblue;">  
      <i class="fas fa-wifi"></i>
		</span> 
	 <span style="font-size: 0.75em; color: #FFFF33;"> 
	<i class="fas fa-bolt" aria-hidden="true"></i>
		 </span>   
	    	 <span style="font-size: 0.75em; color: Tomato;"> 
	 <i class="fas fa-wave-square" aria-hidden="true"></i>
			 </span>    
	<p>I used simulation programs in various courses at Yıldız Technical University. I made various simulations in the SPICE based ORCAD program for Electronic Circuits and Logic Circuits courses. For communication lessons, I made system design, error correction and modulation processes in MATLAB. I dealt with match circuits by doing various RF circuit simulations for microwave lessons. I made error analysis on wired and wireless optical communication systems with OptiSystem.</p>
	    
    </div>

    <div class="six columns">
      <h5>Simulation Technology:</h5>
      <ul>
        <li>SPICE</li>
        <li>Cadence OrCAD</li>
        <li>AWR Microwave Office </li>
        <li>OptiSystem</li>
        <li>MATLAB</li>
      </ul>
    </div>
  </div>

  <!-- <hr> -->

  <!-- Other Tools & Tech Section -->
  <div class="row home">
    <div class="home-title">
      <h3>Other Tools & Technology</h3>
    </div>
  </div>

  <div class="row home">
    <div class="six columns">
      <dl>
        <dt>Setup:</dt>
          <li>Ubuntu, Windows, GCC</li>
	  <li>Visual Studio Code, Sublime Text, Vim, Pycharm, Anaconda</li>
        <dt>Productivity:</dt>
          <li><a href="https://github.com" target="_blank">Github</a>, <a href="https://www.docker.com/" target="_blank">Docker</a><a href="https://filezilla-project.org" target="_blank">FileZilla</a>, <a href="https://www.trello.com/tour">Trello</a>, <a href="https://slack.com" target="_blank">Slack</a></li>
        <dt>3D Technology:</dt>
          <li><a href="https://www.robolinkmarket.com/anycubic-kossel-delta-3d-printer">Delta 3D Printer</a></li>
          <li><a href="https://marlinfw.org/" target="_blank">Marlin Firmware</a></li>
          <li><a href="https://ultimaker.com/software/ultimaker-cura" target="_blank">Cura</a></li>
	  <li><a href="https://www.simplify3d.com/" target="_blank">Simplify3D</a></li>
	  <li><a href="https://www.repetier.com/" target="_blank">Repetier</a></li>
      </dl>
    </div>

    <div class="six columns">
      <div class="row home">
        <i class="devicon-ubuntu-plain-wordmark colored"></i>
	<i class="devicon-debian-plain colored"></i>
	<i class="devicon-windows8-original colored"></i>
	<i class="devicon-visualstudio-plain colored"></i>
        <i class="devicon-github-plain-wordmark colored"></i>
	<i class="devicon-git-plain-wordmark colored"></i>
        <i class="devicon-docker-plain colored"></i>
        <i class="devicon-inkscape-plain colored"></i>
        <i class="devicon-pycharm-plain colored"></i>
        <i class="devicon-vim-plain colored"></i>
        <i class="devicon-chrome-plain-wordmark colored"></i>
        <i class="devicon-slack-plain-wordmark colored"></i>
        <i class="devicon-trello-plain-wordmark colored"></i>
      </div>
    </div>
  </div>

</div>
